#main-container{
/* From https://css.glass */
background: rgba(142, 142, 142, 0.1);
border-radius: 1rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(204, 204, 204, 0.27);

width: 30rem;
height: 40rem;
}

#title-container{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

